<h1>Ayuda</h1>

<p>
    Un quiz es un juego o competición en el que se pone a prueba tu conocimiento mediante la formulación de preguntas.

    Para contestarlo, tan solo has de pensar bien cuál es la respuesta correcta y seleccionarla.

    El objetivo del portal no es jugar a ningún quiz, sino aprender GitHub, Heroku, Npm... etc. para la asignatura de
    Computación en Red.
</p>